@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rampart+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+QLD+Beginner:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,100;1,200;1,300;1,400;1,500&display=swap");
/*cuerpo*/
.navega {
  background-color: #0b8df0;
  width: 100%; }

* {
  padding: 0%;
  margin: 0%; }

body {
  background: url(../imagnes/asets/asqw.jpg);
  background: cover;
  background-image: no-repeat;
  overflow-x: hidden;
  text-align: center;
  text-transform: capitalize; }

/*header*/
.logo {
  margin-left: 2rem;
  width: 5rem;
  height: 4rem;
  border-radius: 100%; }
  .logo img {
    width: 100%;
    height: 100%;
    border-radius: 100%; }

/*footer*/
footer {
  padding-top: 5rem; }

.motivacion {
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 1rem; }

.end {
  color: white;
  font-size: 1em;
  text-align: center; }

@media (max-width: 576px) {
  .logo {
    margin-left: 2rem;
    width: 5rem;
    height: 4rem;
    border-radius: 100%; }
    .logo img {
      width: 100%;
      height: 100%;
      border-radius: 100%; } }

/*index*/
section span,
article span {
  color: #FA003F; }

section h2,
article h2 {
  color: white;
  font-size: 3rem;
  font-family: Anton;
  box-sizing: border-box;
  padding-top: 2rem;
  padding-bottom: 2rem; }

section h3,
article h3 {
  color: white;
  font-size: 2rem;
  font-family: Anton;
  padding: 5rem; }

section h4,
article h4 {
  color: white;
  font-size: 2rem;
  font-family: Anton;
  padding: 1rem; }

section h5,
article h5 {
  color: white;
  font-size: 1rem;
  padding: 0.1rem; }

section h6,
article h6 {
  color: white;
  font-size: 1rem;
  padding: 0.1rem; }

.galery, .galery2 {
  padding-left: 10%;
  margin-top: 2%; }

.galeria {
  width: 22rem;
  height: 22rem;
  overflow: hidden;
  border-radius: 100%; }
  @media (max-width: 992px) {
    .galeria {
      width: 18rem;
      height: 18rem; } }
  @media (max-width: 992px) {
    .galeria {
      width: 15rem;
      height: 15rem; } }

.promo {
  width: 22rem;
  height: 22rem;
  transition: all linear 1s; }
  @media (max-width: 992px) {
    .promo {
      width: 18rem;
      height: 18rem; } }
  @media (max-width: 576px) {
    .promo {
      width: 15rem;
      height: 15rem; } }

.promo:hover {
  transform: scale(1.4); }

.seccion2 {
  margin-top: 20%; }

.txt {
  background-color: white;
  font-size: 2rem;
  height: 2.5rem; }

.anima {
  width: 75%;
  text-align: right; }

.box {
  padding-left: 6rem;
  width: 10em;
  height: 10em; }

/*banner de publicidad*/
.publicidades {
  margin-top: 0.1rem;
  width: 100%;
  height: 25rem; }
  @media (max-width: 576px) {
    .publicidades {
      display: none; } }

.baner {
  width: 2rem;
  height: 2rem; }

ul.publi {
  position: relative;
  width: 100%;
  height: 20rem; }

ul.publi li {
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  width: inherit;
  height: inherit;
  transition: opacity .5s; }

ul.publi li img {
  width: 100%;
  height: 21rem;
  object-fit: cover; }

ul.publi li:first-child {
  opacity: 2; }

ul.publi li:target {
  opacity: 1; }

.direcional {
  text-align: center;
  margin: 2em; }

.direcional li {
  display: inline-block;
  text-align: center; }

.direcional li a {
  display: inline-block;
  color: #ff0202 0.9;
  text-decoration: none;
  background-color: red;
  padding: 1em;
  width: 1em;
  height: 1em;
  font-size: .5em;
  border-radius: 110%; }

/*productos*/
.car__ventas .contiene {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat 4, 180px;
  justify-content: space-around;
  align-items: center; }
  @media (max-width: 992px) {
    .car__ventas .contiene {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center; } }
  @media (max-width: 768px) {
    .car__ventas .contiene {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      justify-items: center; } }
  @media (max-width: 576px) {
    .car__ventas .contiene {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;
      justify-items: center; } }

.car__ventas .contiene2 {
  display: grid;
  gap: 1.2rem;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat 4, 180px;
  justify-content: space-around; }
  @media (max-width: 992px) {
    .car__ventas .contiene2 {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr 1fr;
      justify-items: center; } }
  @media (max-width: 768px) {
    .car__ventas .contiene2 {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr 1fr;
      justify-items: center; } }
  @media (max-width: 576px) {
    .car__ventas .contiene2 {
      display: grid;
      gap: 1rem;
      grid-template-columns: 1fr;
      justify-items: center; } }

.produc__graf {
  font-size: 1rem;
  color: coral; }

.contiene img {
  height: 12rem;
  width: 12rem;
  font-size: 1rem;
  border-radius: 3rem; }

.contiene2 img {
  height: 12rem;
  width: 12rem;
  font-size: o 0.9rem;
  border-radius: 3rem; }

.card {
  height: 20rem;
  width: 15rem;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 2px 7px 5px #9c9a9a;
  border-radius: 3rem;
  transition: all 0.8s linear; }

.card:hover {
  transform: scale(1.2); }

.card-venta {
  color: black;
  font-size: 1rem; }
  .card-venta ol {
    list-style: none;
    text-decoration: none; }
  .card-venta link {
    list-style: none; }

.car__ventas .butom:hover {
  font-size: 1rem;
  background-color: #cf4d4d;
  width: 5rem;
  border: solid 1px #bd1a1a;
  box-shadow: 1px 2px 7px 5px #9c9a9a;
  transform: translateZ(-3px);
  transition: all 0.7s ease; }

/*contactos*/
.msn {
  display: flex;
  justify-content: space-around; }

.chat {
  background: rgba(241, 96, 96, 0.4);
  box-shadow: 0 1rem 5rem 0 rgba(6, 20, 215, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 1rem;
  border: 0.2rem solid rgba(82, 15, 217, 0.18);
  margin-top: 1rem;
  padding-left: 1rem; }

.info {
  background: rgba(241, 96, 96, 0.4);
  box-shadow: 0 1rem 5rem 0 rgba(6, 20, 215, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 1rem;
  border: 0.2rem solid rgba(82, 15, 217, 0.18);
  margin-top: 1rem;
  padding-left: 1rem;
  box-sizing: border-box;
  list-style-type: nonw; }
  .info .detalle .lee {
    padding-top: 0.1rem;
    color: white;
    text-align: left; }
    .info .detalle .lee ol .lee {
      list-style: none;
      text-decoration: none; }
    .info .detalle .lee li .lee {
      margin-top: 1rem;
      list-style-type: none; }

.texs h5 {
  font-size: 3rem;
  color: red;
  padding: 1rem; }

.operadora {
  height: 5rem;
  width: 5rem; }

.gps .map {
  border-radius: 4rem;
  opacity: 0.6; }

@media (max-width: 576px) {
  iframe {
    width: 15rem;
    height: 15rem; } }

.red {
  width: 8rem;
  height: 8rem; }

/*about*/
.historia {
  font-size: 1.5rem;
  font-family: Anton;
  padding: .5em;
  color: #fefdfd;
  text-align: center; }

.consolidacion {
  color: white; }

.inicia, .continua, .firma {
  color: #dfd8d8;
  font-family: Josefin Sans;
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 0.5em; }

.continua {
  color: #f9cfcf; }

.firma {
  color: #fdecec; }

.pictur {
  width: 20rem;
  height: 20rem;
  padding-bottom: 0.5em;
  transition: all 0.5s linear; }
  @media (max-width: 768px) {
    .pictur .pictur {
      width: 15rem;
      height: 10rem; } }
  @media (max-width: 576px) {
    .pictur .pictur {
      width: 12rem;
      height: 10rem; } }

.pictur:hover {
  transform: scale(0.9);
  border-radius: 100%; }

/*segunda section about*/
.presentacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; }
  .presentacion .integrantes {
    width: 90%;
    padding-left: 0.2rem;
    transition: all 0.9s linear;
    padding-bottom: 1rem; }
  .presentacion .integrantes:hover {
    transform: translate(2rem, -10%); }
  .presentacion .ejecutivo {
    position: static;
    height: 15rem; }
  .presentacion p {
    font-size: 0.8rem;
    color: red;
    text-align: center;
    padding-top: 0.4rem; }
  .presentacion .formacion {
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 3rem; }

/*login*/
.title {
  color: white;
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
  font-size: 1.4rem; }

.clientes h4 {
  color: white;
  font-size: 3rem;
  padding-top: 3rem;
  padding-bottom: 3rem; }

.reg {
  font-size: 3rem;
  padding: 0%; }

.reg2 {
  font-size: 2.5rem; }

@media (max-width: 768px) {
  .one {
    display: flex;
    flex-direction: column; } }

#inicio,
.registro {
  background: rgba(241, 96, 96, 0.4);
  box-shadow: 0 1rem 5rem 0 rgba(6, 20, 215, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 1rem;
  border: 0.2rem solid rgba(82, 15, 217, 0.18);
  margin-top: 1rem;
  padding-left: 1rem; }

.containe {
  padding-left: 1.5rem;
  margin-bottom: .8rem; }

.inicie {
  width: 9rem;
  height: 9rem; }

.containe button {
  height: 1.5rem;
  width: 40%;
  background: #1b0ff7;
  font-size: 0.6rem;
  color: white; }

.containe button:hover,
button:focus {
  background: #02023c;
  color: white;
  font-size: 0.9rem; }

.registro button {
  height: 1.5rem;
  width: 40%;
  background: #1b0ff7;
  font-size: 0.6rem;
  color: white; }

.registro button:hover,
button:focus {
  background: #02023c;
  color: white;
  font-size: 0.9rem; }

/*card clientes*/
.retrato {
  width: 100%;
  height: 100%; }

.flip-container {
  background-color: transparent;
  width: 13rem;
  height: 15rem;
  perspective: 1000px; }

.target {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d; }

.flip-container:hover .target {
  transform: rotateY(180deg); }

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8rem; }

.front {
  background-color: #6a0b59;
  color: #fff; }

.back {
  background: linear-gradient(gray, black);
  color: white;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column; }
