/*cuerpo*/
.navega {
    background-color: #0b8df0;
    width: 100%;

}

* {
    padding: 0%;
    margin: 0%;

}

body {
    
    background: url(../imagnes/asets/background.jpg);
    overflow-x: hidden;
    text-align: center;
    text-transform: capitalize;
    ;
}