/*cuerpo*/
.navega {
    background-color: #0670c0;
    width: 100%;
    .boton{
        background-color: #21e774;

    }

}

* {
    padding: 0%;
    margin: 0%;

}

body {
    
    background: url(../imagnes/53a0bc61ebe355b92031c59c9435ffc5.jpg);
    overflow-x: hidden;
    text-align: center;
    text-transform: capitalize;
    
}