/*cuerpo*/

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box
}

body {
    background-attachment: cover;
    background: linear-gradient(4deg, #020119, #094979, #00c0ff);
   overflow-x: hidden;

    text-align: center;
    text-transform: capitalize;
}
