/*contactos*/
.msn{
    display: flex;
    justify-content: space-around;
}
.chat {
    background: rgba(241, 96, 96, 0.4);
    box-shadow: 0 1rem 5rem 0 rgba(6, 20, 215, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 1rem;
    border: 0.2rem solid rgba(82, 15, 217, 0.18);
    margin-top: 1rem;
    padding-left: 1rem;

}

.info {
    background: rgba(241, 96, 96, 0.4);
    box-shadow: 0 1rem 5rem 0 rgba(6, 20, 215, 0.37);
    backdrop-filter: blur(4.5px);
    -webkit-backdrop-filter: blur(4.5px);
    border-radius: 1rem;
    border: 0.2rem solid rgba(82, 15, 217, 0.18);
    margin-top: 1rem;
    padding-left: 1rem;

    .detalle .lee {
        padding-top: 0.1rem;
        color: white;
        text-align: left;

        ol .lee {
            list-style: none;
            text-decoration: none;
        }

        li .lee {
            margin-top: 1rem;
            list-style-type: none;
        }
    }
}
.texs h1{
    color: red;
    padding: 2rem;
}
.operadora {
    height: 5rem;
    width: 5rem;

}

.gps .map {
    border-radius: 4rem;
    opacity: 0.6;        
}
@media(max-width:576px){
    iframe{
        width: 15rem;
        height: 12rem;
    }
}
.red {
    width: 8rem;
    height: 8rem;
   
}