/*index*/
section,
article {
  span {
    color: #FA003F;
  }

  h2 {
    color: white;
    font-size: 2rem;
    font-family: $terciary-grafia;
    box-sizing: border-box;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  h3 {
    color: white;
    font-size: 2rem;
    font-family: $terciary-grafia;
    padding: 2rem;
  }

  h4 {
    color: white;
    font-size: 2rem;
    font-family: $terciary-grafia;
    padding: 1rem;
  }

  h5 {
    color: white;
    font-size: 1rem;
    padding: 0.1rem;
  }

  h6 {
    color: white;
    font-size: 1rem;
    padding: 0.1rem;
  }

}
.galery, .galery2{
  padding-left: 10%;
  margin-top: 2%;

}
.galeria {
  width: 22rem;
  height: 22rem;
  overflow: hidden;
  border-radius: 100%;

  @media (max-width: 992px) {
    width: 18rem;
    height: 18rem;
  }

  @media (max-width: 992px) {
    width: 15rem;
    height: 15rem;
  }
}
#marca{
  border-radius: 5%;
  background-color: azure;
  width: 25%;
  height: 5%;
}
.promo {
  width: 22rem;
  height: 22rem;
  transition: all linear 1s;

  @media (max-width: 992px) {
    width: 18rem;
    height: 18rem;
  }

  @media (max-width: 576px) {
    width: 15rem;
    height: 15rem;
  }

}

.promo:hover {
  transform: scale(1.4);
}
.seccion2{
margin-top: 20%;
}
.txt {
  background-color: white;
  font-size: 2rem;
  height: 2.5rem;

}

.anima {
  width: 75%;
  text-align: right;
}
.box {
  padding-left: 6rem;
  width: 10em;
  height: 10em;
}
.frase{

  color: white;
  font-size: 1.5rem;
  text-align: right;
  width: 80%;
}