section,
article {
    span {
        color: #FA003F;
    }

    h2 {
        color: white;
        font-size: 2rem;
        font-family: $terciary-grafia;
        padding: 2rem;
    }

    h3 {
        color: white;
        font-size: 2rem;
        font-family: $terciary-grafia;
        padding: rem;
    }

    h4 {
        color: white;
        font-size: 2rem;
        font-family: $terciary-grafia;
        padding: 1rem;
    }

    h5 {
        color: white;
        font-size: 1rem;
        padding: 0.1rem;
    }

    h6 {
        color: white;
        font-size: 1rem;
        padding: 0.1rem;
    }

}

.galeria {
 
    width: 28rem;
    height: 25rem;
    overflow: hidden;
    border-radius: 100%; 
}

.promo {
    width: 28rem;
    height: 25rem;
    transition: all linear 1s;

    @media (max-width: 992px) {
        width: 24rem;
        height: 24rem;
    }

    @media (max-width: 576px) {
        width: 20rem;
        height: 20rem;
    }

}

.promo:hover {
    transform: scale(1.4);
}
.txt {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 10rem;
    height: 2rem;
    background: white;
    border-radius: 75px;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: lighter;
    letter-spacing: 2px;
    transition: 1s box-shadow;
    p{
        margin-top: 1rem;
    }
  }
  
  .txt:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .txt:hover::before, .txt:hover::after {
    display: block;
    content: '';
    position: absolute;
    width: 10rem;
    height: 2rem;
    background: #FDA8CF;
    border-radius: 50rem;
    z-index: -1;
    animation: 1s clockwise infinite;
  }
  
  .txt:hover:after {
    background: #F3CE5E;
    animation: 2s counterclockwise infinite;
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }

@media (max-width:992px) {
    .multimedia {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h3 {
        font-size: 3rem;
    }

}

article {
    display: flex;
    flex-direction: column;
    align-content: center;

    table {
        color: white;
        font-size: 1em;
        table-layout: fixed;
        border-collapse: collapse;
        margin-left: 1em;

    }

    thead {
        background: rgba(34, 34, 216, 0.5)
    }

    th {
        padding: 1em 1.4em;
        font-weight: 700;
        text-transform: uppercase;

        @media (max-width:576px) {
            padding: 0.3em 0.5em;
        }

    }

    td {
        padding: .1em;
        border-bottom: solid 1px rgba(211, 35, 35, 0.4);
    }

    tbody tr {
        cursor: pointer;
    }

    tbody tr:hover {
        background-color: rgba(150, 21, 21, 0.7);

    }
}

.box {
    padding-left: 6rem;
    width: 10em;
    height: 10em;
}