/*productos*/

.car__ventas .contiene {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat (4, 180px);
    justify-content: space-around;
    align-items: center;

    @media (max-width: 992px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    @media (max-width: 768px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    @media (max-width: 576px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        justify-items: center;
    }




}

.car__ventas .contiene2 {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(4, 200px);
    grid-template-rows: repeat (4, 180px);
    justify-content: space-around;

    @media (max-width: 992px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    @media (max-width: 768px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    @media (max-width: 576px) {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr;
        justify-items: center;
    }

}

.produc__graf {
    font-size: 1rem;
    color: coral;
}

.contiene img {
    height: 12rem;
    width: 12rem;
    font-size: 1rem;
    border-radius: 3rem;
}

.contiene2 img {
    height: 12rem;
    width: 12rem;
    font-size: o.9rem;
    border-radius: 3rem;
}

.card {

    height: 20rem;
    width: 15rem;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 2px 7px 5px rgb(156, 154, 154);
    border-radius: 3rem;
    transition: all 0.8s linear;
}

.card:hover {
    transform: scale(1.2);

}

.card-venta {
    color: black;
    font-size: 1rem;

    ol {
        list-style: none;
        text-decoration: none;


    }

    link {
        list-style: none;
    }
}

.car__ventas .butom:hover {
    font-size: 1rem;
    background-color: rgb(207, 77, 77);
    width: 5rem;
    border: solid 1px rgb(189, 26, 26);
    box-shadow: 1px 2px 7px 5px rgb(156, 154, 154);
    transform: translateZ(-3px);
    transition: all 0.7s ease;

}